<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container">
  <!-- <div class="row"> -->
    <!-- <div class="col"> -->
      <!-- <div class="card shadow border-0"> -->
        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="priority">Priority (required)</label>
            <span *ngIf="(priority.touched || priority.dirty) && formSubmitted && priority.invalid && priority.errors.required">
              Priority is required.
            </span>
            <select formControlName="priority" class="form-control" id="priority" (change) = "onPriorityChange()">
              <option value="">Select Priority</option>
              <option value="1">High</option>
              <option value="2">Medium</option>
              <option value="3">Low</option>
            </select>
          </div>
            <div class="form-group">
            <select  class="form-control" *ngIf="showPeriod">            
              <option value="1">With in a day</option>
              <option value="2">With in two days</option>
              <option value="3">With in a week</option>
              <option value="4">After a week</option>
            </select>
          </div>
          <div class="form-group">
            <label for="title">Title (required)</label>
            <div *ngIf="title.errors" class="invalid">
              <div *ngIf="(title.touched || title.dirty) && title.invalid && title.errors.required">
                Title is required.
              </div>
              <div *ngIf="(title.touched || title.dirty) && title.invalid && title.errors?.minlength">
                Title is too short.
              </div>
            </div> 
            <input formControlName="title" type="text" class="form-control" [ngClass]="{'is-invalid': title.touched && title.errors}" id="title" aria-describedby="title">
            <p> Please limit the length of the title to 40 characters</p>
          </div>          
          <div class="form-group">
            <label class="form-check-label" for="message">Message (required)</label>
            <div *ngIf="request.errors" class="invalid">
              <div *ngIf="(request.touched || request.dirty) && request.invalid && request.errors.required">
                Message is required.
              </div>
            </div>
            <textarea formControlName="request" ng-model = "x" class="form-control" [ngClass]="{'is-invalid': request.touched && request.errors}" id="message" rows="6"></textarea>
            </div>
          <div [ngClass]="{'success': success, 'error': !success}">{{message}}</div>
          <button [disabled]='!requestForm.valid' type="submit" class="btn btn-primary">Request</button>
        </form>
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
</div>
