<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="priority">Priority</label>
            <span *ngIf="(priority.touched || priority.dirty) && formSubmitted && priority.invalid && priority.errors.required">
              Priority is required.
            </span>
            <select formControlName="priority" class="form-control" id="priority">
              <option value="">Select Priority</option>
              <option value="1">High</option>
              <option value="2">Medium</option>
              <option value="3">Low</option>
            </select>
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <span *ngIf = "(title.touched || title.dirty) && formSubmitted && title.invalid && title.errors.required"></span>
            <input formControlName="title" type="text" class="form-control" id="title" aria-describedby="title">
          </div>          
          <div class="form-group">
            <label class="form-check-label" for="message">Message</label>
            <textarea formControlName="request" class="form-control" id="message" rows="6">
            </textarea>
            
          </div>
          <div [ngClass]="{'success': success, 'error': !success}">{{message}}</div>
          <button [disabled]='!requestForm.valid' type="submit" class="btn btn-primary">Request</button>
        </form>
      </div>
    </div>
  </div>
</div>
