<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card shadow border-0">
          <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="role">I am </label>
              <select formControlName="role" class="form-control">
                <option value="">Select Role</option>
                <option value="1">Health Professional</option>
                <option value="2">Volunteer</option>
              </select>
            </div>
            <div class="form-group">
              <label for="role">State </label>
              <select formControlName="state" class="form-control" (change)="populateCity()">
                <option value="">Select State</option>
                <option *ngFor="let s of states" value="{{s.state_id}}">{{s.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="role">City</label>
              <select formControlName="city" class="form-control">
                <option value="">Select City</option>
                <option *ngFor="let c of cities" value="{{c.city_id}}">{{c.name}}</option>
              </select>
            </div>                        
            <div [ngClass]="{'success': success, 'error': !success}">{{message}}</div>
            <button [disabled]='false' type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  