<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card shadow border-0 p-10" [ngClass]="{'placed': true}">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <div id="title">{{title}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Message</label>
                  <div>{{message}}</div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">By</label>
                    <div>{{first_name}} {{last_name}}</div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Priority</label>
                    <div>{{priority}}</div>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Posted On</label>
                    <div>{{date_created}}</div>
                  </div>
                </div>

                <div *ngIf="memberOwnsRequest()"><button type="button" class="btn btn-danger" (click)="removeRequest()">Remove request</button></div>
                <div *ngIf="!request_already_picked">
                  <div *ngIf="total_volunteers > 0; then thenBlock else elseBlock"></div>
                </div>
                <div *ngIf="request_already_picked">Thanks for picking this request</div>
                <ng-template #thenBlock>
                  <div class="row">
                    <div class="col-md text-right">
                      <button  *ngIf="!request_already_picked" type="button" class="btn btn-success" (click)="taskPicked()">I Can Help Too</button>
                    </div>
                    <div class="col-md">
                      {{total_volunteers}} awesome volunteers are working on this request.
                    </div>                    
                  </div>
                </ng-template>
                <ng-template #elseBlock>
                  <div class="row">
                    <div class="col-md text-right">
                      <button type="button" class="btn btn-success" (click)="taskPicked()">I Can Help Too</button>
                    </div>
                    <div class="col-md">
                      Be the hero by picking this 
                    </div>                    
                  </div>
                </ng-template>
        </div>
      </div>
    </div>
  </div>
  