<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Our Professionals</h5>
                  <div class="row">
                    <div class="col"><span class="h2 font-weight-bold mb-0">{{dashboard.professionals}}</span> </div>
                  <div class="col"><a [routerLink]="['/awesome-professionals']" class="btn-sm btn btn-primary">Show all</a></div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"> </span>
                <span class="text-nowrap"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Our Volunteers</h5>
                  <div class="row">
                    <div class="col"><span class="h2 font-weight-bold mb-0">{{dashboard.volunteers}}</span> </div>
                    <div class="col"><a [routerLink]="['/all-volunteers']" class="btn-sm btn btn-primary">Show all</a></div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"></span>
                <span class="text-nowrap"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Active Requests</h5>
                  <div class="row">
                  <div class="col"><span class="h2 font-weight-bold mb-0">{{dashboard.active}}</span> </div>
                  <div class="col"><a class="btn-sm btn btn-primary">Show all</a></div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"> </span>
                <span class="text-nowrap"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Completed</h5>
                  <div class="row">
                  <div class="col"><span class="h2 font-weight-bold mb-0">{{dashboard.completed}}</span> </div>
                  <div class="col"><a class="btn-sm btn btn-primary">Show all</a></div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"> </span>
                <span class="text-nowrap"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">

  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Active Requests</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Request By</th>
                <th scope="col">Title</th>
                <th scope="col">Priority</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody *ngFor="let request of requests">
              <tr [ngClass]="{'placed': request.status_name == 'PLACED', 'picked': request.status_name == 'PICKED'}">
                <th scope="row">
                  <a [routerLink]="['/user-profile']">{{request.first_name}} {{request.last_name}}</a>
                </th>
                <td>
                  <a [title]="request.title" [routerLink]="['/request-detail',request.request_id]">{{request.title}}</a>
                </td>
                <td>
                  {{request.name}}
                </td>
                <td *ngIf="request.status_name == 'PICKED'; then withLink; else withoutLink">
                  <!--Content is populated based on the if condition-->
                </td>
                <ng-template #withLink>
                  <a [routerLink]="['/awesome-volunteers', request.request_id]">{{request.status_name}}</a>
                </ng-template>
                <ng-template #withoutLink>
                  {{request.status_name}}
                </ng-template>
                <td>
                  {{request.date_created | date:'short'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
